---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about me!"
	pubDate={new Date('may 30 2025')}
	heroImage="https://i0.wp.com/www.comicbookrevolution.com/wp-content/uploads/2023/09/Nightwing-106-Dan-Mora-Banner.jpg"
>
	<p>
		I am a 20 year old IT Support Technician, working on programming and Game Dev in my own time
	</p>

	<p>
		I've always had a passion for programming but decided to go into another direction for a job,
		so I am now working on this in my own time!
	</p>

	<p>
		My first project is a Minecraft Mod, which at the time of writing, I am *very* proud of! I am
		just hoping I can work more on it and meet all the goals I want to in the future!
	</p>

	<p>	
		I hope to make my own game in the future, and I will see where it takes me!
	</p>
</Layout>
