---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
				⚡Welcome to my site⚡
			</h1>
			<p>
				Welcome to my site. This will be used as a portfolio, blog, and as a general site for all my needs! 😀
			</p>
			<p>
				This site will grow as time goes on and is very much a work in progress, and is also my first attempt at using Cloudflare pages. See the <a href="https://github.com/Mars455/mars455-blog/">source code here.</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
